<div class="container" *ngIf="!isAuthenticated">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">The coolest application for tracking jogging times you'll ever use.</p> 
      <p class="text-center">
        <button class="btn btn-primary" (click)="oktaAuth.loginRedirect();">Log in</button>
      </p>
    </div>
  </div>
</div>
<div class="container" *ngIf="isAuthenticated">
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn" (click)="oktaAuth.logout();">Log out</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <app-add-or-update-jogging (joggingCreated)="createOrUpdateJogging($event)" [joggingInfo]="currentJogging"></app-add-or-update-jogging>
    </div>
    <div class="col-md-8">
        <app-grid-jogging [joggingData]="joggingData" (editClicked)="editClicked($event)" (newClicked)="newClicked()" (recordDeleted)="deleteClicked($event)"></app-grid-jogging>
    </div>
  </div>
</div>